.main-inner {
    margin: 0 auto;
    max-width: 1024px;
    background-color: $clr-primary;
}
.inner {
    margin: 0 auto;
    max-width: 1024px;
}
.padding-inner {
    padding-left: 20px;
    padding-right: 20px;
}
$padding-inner-value: 20px;
.return-home {
    width: 100%;
    display: grid;
    place-items: center;
    background-color: $clr-primary-dark;
    img {
        height: 60px;
        margin: $padding-inner-value 0;
    }
}
