//fonts
//--------
// font-size (fs)
//--------

$text-normal: 20px;
//--------
// Colors (clr)
//--------
//$clr-primary: #d16a95;
$clr-primary: #5f3547;
$clr-primary-accent: #d16a95;
$clr-secondary: white;
$clr-primary-dark: #301a23;
